/* color and font */
/*
font-family: 'Rock 3D', cursive; 
#f46808; orange
goldenrod;
#e3ccbc off white
font-family: 'Montserrat', sans-serif;
 */
body{
    background:#000;
    /* background: linear-gradient(4deg, rgba(0,0,0,1) 18%, rgba(45,20,33,1) 3d5, rgba(159,72,117,1) 96%);*/
    height:500px;
    /* margin:auto;
    padding:auto; */
     
}
.img-bckground{
    background-image: url("../img/pexels-kehn-hermano-3849167.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    width: 1920px;
    height: 500px;
} 
.hero-text{
    text-align:center;
    /* position:absolute; */
    /* top:50%; left:50%; */
    /* transform:translate(-50%, -50%); */
    color:white; 
}
 .hero-image{
    
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    height:30%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/img/pexels-kehn-hermano-3849167.jpg");
    

 } 
.fa-unity{
    color:goldenrod;
} 
.logo-image{ 
    background-image: url("../img/pexels-kehn-hermano-3849167.jpg");
    /*  */
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    width: 1920px;
    min-height:500vh;
} 
/* nav bar */
 ul li {
    text-align:center;
    display:inline; 
    
    /* border:1px solid red; */
    list-style-type: none;
    color:black;
    
    
}

nav{
     /* border:1px solid red;  */
    /* opacity:0.5; */
     text-align:center;
     padding-left:680px;
     padding-right:700px;
     padding-top:40px;
     margin-left:15px;
     /* background-color: white; */
     width: 500px; 
     height:90px;
     /* position:sticky;
     top:5px; */
} 
    
    
 .nav-bar-css{
    
    border-radius:20px;
    padding:50px;
    background-color:black;
    text-decoration: none;
    color:white;
    
    /* font-size: 20px; */
} 
 .nav-bar-css:hover{
    background:#f46808;
    color:#e3ccbc;
    border:2px solid black;
}
/* end of nav bar */


/* section */
section{
    padding-left:250px;
    float:left;
    /* opacity: 0.5; */
    /* background-color:white; */
    /* border:5px solid red; */
    color:white;
    
}
.sf-knights{
 text-shadow:2px 2px #f46808;
 font-size:31px;
 text-align:center;
 font-family: 'Rock 3D', cursive;

}

/* .bay-bridge{ 
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    width: 1920px;
    height: 500px;
}*/
.video{
    float:left;
    margin-right:300px;

}
.video-2{
    float:right;
}

/* form styles */
/* input[type=text],input[type=email],textarea{
    width:10%;
    padding:12px;

}
label{
    color:white;

} */
/* article */
.clear-fix{
    /* overflow:auto; */
    text-shadow: 2px 2px #000;
    clear:both;
    opacity:0.5;
    background:white;
    color:black;
    font-size:30px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rock 3D', cursive; 

    
}
/* footer */
footer{
    /* border:2px solid red; */
    height:200px;
    text-align: center;
    
    /* margin:50px; */
    
}
.footer-p{
    color:white;
    font-family: 'Rock 3D', cursive;
    font-size:100px;
    text-shadow: 2px 2px #f46808;
}
.fa-linkedin{
    font-size:60px;
    padding-right:50px;
    margin:60px;
    color:white;

}
.fa-instagram-square {
    font-size:60px;
    padding-right:50px;
    margin:60px;
    color:white;
}

.fa-facebook-square{
    font-size:60px;
    padding-right:50px;
    margin:60px;
    color:white;
}

.fa-twitter-square{
    font-size:60px;
    margin:60px;
    color:white;
}
/* #top{
   clear:both;
} */


/* about page */
.about-body{
min-height:300vh;
}

#myVideo {
    position: fixed;
    right: 0;
    /* bottom: 0; */
    min-width: 100%;
    min-height: 100%;
    /* width: 1920px;
    min-height:100vh; */
  }
  .about-header{
      color:white;
     
      text-align:center;
      position:absolute;
      padding-left:745px;
      padding-right:700px;
      padding-top:40px;
      margin-left:15px;     
  }
  .about-nav{
      position:absolute;
      top:150px; left:0px;

  }
 .about-column{
/* border: 2px solid red; */
 position: absolute;
 top:500px; left:200px;
 /* text-align:left; */
 box-shadow:5px 0px #000;
 /* opacity:0.5; */


 float:right;
} 
 .about-column-2{
     /* border:2p solid red;x */
    /* background-color:black; */
    position:absolute;
    top:400px; right:500px;
    text-align:center;
    /* float:right; */
    /* padding-top:100px; */
    box-shadow:5px 0px #000;
} 
.about-p{
    position:inherit;
    /* float:right; */
    background-color:black;
    width:300px;
    padding-top:5px;
    opacity:0.5;
}
.lil-msg{
    font-family: 'Rock 3D', cursive;
    text-align:center;
    font-size:50px;
    position:absolute;
    top:1500px;left:50px;
    color:white;
    text-shadow:2px 2px #f46808;
    /* background:#000; */

}
.about-footer{
    position:absolute;
    top:2000px; left:500px;
}

 /* contact page  */
 .logo-image-3{ 
    background-image: url("../img/pexels-kehn-hermano-3849167.jpg");
    /*  */
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    width: 1920px;
    min-height:150vh;
} 
 .contact-body{
    text-align: center;


 }
 form{
     padding-top:50px;
     display: inline-block;
     float:none;
     max-width:500px;
     margin: 0 auto;
     
 }
 form input{
     width:100%;
     color:white;
 }
 form textarea {
    width: 100%;
    height: 160px;
    resize: none;
  }
  form input, form textarea {
   
    font-weight: 400;
    font-size: 1.2rem;
    font-family: monospace;
    border-radius: 4px;
   }
  form label {
    /* text-align: center; */
    font-size: 0;
    opacity: 0;
    display: none;
   }
  form input, form textarea {
    float: left;
    padding: 0 1.25rem;
    margin: 0 0 1.25rem;
    line-height: 54px;
    background: #000;
    border: 2px solid #000;
    box-shadow: 5px 5px #f46808;
    color: #fff;
    outline: none;
    -webkit-appearance: none;
  } 
  form textarea:focus, form textarea:active {
    color: #000;
    border-color: #000;
  }
  form input[type="submit"] {
    float: left;
    cursor: pointer;
    margin: 0;
    border: none;
    font-weight: bold;
    width: 110%;
    color: #fff;
    background: #000;
  }
  form input[type="submit"]:hover,form input[type="submit"]:focus {
    opacity: .7;
  }